
@import "@founders-coffee/ui/styles.css";
@import "vanilla-calendar-pro/styles/index.css";
@import "mapbox-gl/dist/mapbox-gl.css";
@source "../../../libs/ui/src";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

